<input type="text" class="form-control mt-3 mb-3" placeholder="Buscar cliente" (keyup)="userFilter($event.target.value)">
<table mat-table [dataSource]="dataSource" class="table-striped table-hover">

    <!-- id Column -->
    <!-- <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let user"> {{user.id}}</td>
    </ng-container> -->

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let user"> {{user.name}} </td>
    </ng-container>

    <!-- lastName Column -->
    <ng-container matColumnDef="lastname">
        <th mat-header-cell *matHeaderCellDef> Apellido </th>
        <td mat-cell *matCellDef="let user"> {{user.lastname}} </td>
    </ng-container>

    <!-- Symbirthdaybol Column -->
    <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef> Edad </th>
        <td mat-cell *matCellDef="let user"> {{user.age}} </td>
    </ng-container>

    <!-- Symbirthdaybol Column -->
    <ng-container matColumnDef="birthday">
        <th mat-header-cell *matHeaderCellDef> Cumpleaños </th>
        <td mat-cell *matCellDef="let user"> {{user.birthday}} </td>
    </ng-container>

    <!-- acciones Column -->
    <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let user">
            <button matTooltipPosition="above" matTooltip="Editar" class="btn text-primary mr-1" (click)="onPreUpdateUser(user)"><span class="material-icons">edit</span></button>
            <button matTooltipPosition="above" matTooltip="Eliminar" class="btn text-danger" (click)="onDeleteUser(user.$keyRegistro)"><span class="material-icons">delete</span></button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let user; columns: displayedColumns;"></tr>
</table>

<!-- paginator -->
<mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                PROMEDIO DE EDAD: <input type="text" class="form-control" #showAverage value="">
            </div>
            <div class="col-6">
                DESVIVACIÓN ESTANDAR: <input type="text" class="form-control" #showDESTANDAR value="">
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <canvas baseChart [data]="polarAreaChartData" [labels]="polarAreaChartLabels" [chartType]="polarAreaChartType">
              </canvas>
            </div>
        </div>
    </div>
</div>