<h1 mat-dialog-title>{{ !_api.selectedUser.$keyRegistro ? 'Nuevo usuario' : 'Editar usuario' }}</h1>

<form #formUser="ngForm" [formGroup]="todoForm">
    <input type="hidden" name="$keyRegistro" [(ngModel)]="_api.selectedUser.$keyRegistro" formControlName="$keyRegistro">
    <div class="form-group">
        <label for="name">Nombre</label>
        <input type="text" name="name" id="name" placeholder="Nombre" class="form-control" [(ngModel)]="_api.selectedUser.name" formControlName="name" />

        <span class="validacion" *ngIf="todoForm.controls['name'].touched && todoForm.controls['name'].errors?.required">Nombre es requerido</span>
    </div>
    <div class="form-group">
        <label for="lastname">Apellido</label>
        <input type="text" id="lastname" name="lastname" placeholder="Apellido" class="form-control" [(ngModel)]="_api.selectedUser.lastname" formControlName="lastname" />
        <span class="validacion" *ngIf="todoForm.controls['lastname'].touched && todoForm.controls['lastname'].errors?.required">Apellido es requerido</span>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label for="age">Edad</label>
                <input type="number" id="age" readonly="true" name="age" placeholder="Edad" class="form-control" [(ngModel)]="_api.selectedUser.age" formControlName="age" />
                <span class="validacion" *ngIf="todoForm.controls['age'].touched && todoForm.controls['age'].errors?.required">edad es requerido</span>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="birthday">F. nacimiento</label>
                <input type="date" id="birthday" name="birthday" (change)="edadw()" placeholder="f. nacimiento" class="form-control" [(ngModel)]="_api.selectedUser.birthday" formControlName="birthday" />
                <span class="validacion" *ngIf="todoForm.controls['birthday'].touched && todoForm.controls['birthday'].errors?.required">Nacimiento es requerido</span>
            </div>
        </div>
    </div>

    <button *ngIf="!_api.selectedUser.$keyRegistro" [disabled]="todoForm.invalid" type="submit" class="btn btn-primary" (click)="onSaveUser(formUser)">Guardar Registro</button>
    <button mat-dialog-close *ngIf="_api.selectedUser.$keyRegistro" type="submit" (click)="onReset()" class="btn btn-primary" (click)="onSaveUser(formUser)">Actualizar</button>
    <button *ngIf="_api.selectedUser.$keyRegistro" (click)="onReset()" mat-dialog-close class="btn btn-warning ml-3">Cancelar</button>
</form>